/* meulib palette 
triad
http://paletton.com/#uid=32P1b0knWFWnWFW4hNpUvEvAfmz
complementary
http://paletton.com/#uid=52P0B0knWFWnWFW4hNpUvEvAfmz
http://paletton.com/#uid=53q0B0kiTZEiTZElyz97w++j0++
nice chutney green color
105 141 45 = 69 8D 2D
*/

body
{
	margin:0;
	font-family:'Lato', sans-serif;
	font-size: 120%;
	padding-left: 10px;
	padding-right: 10px;
}

a {
	font-weight: bold;
}

a:link {
    text-decoration: none;
    /*color: SeaGreen;*/
    color: #009000;
}

a:visited {
    text-decoration: none;
    /*color: MediumPurple;*/
    color: #5703C5;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

/* will show default text simply in bold 
used with span */
.currentPageHighlighter
{
	font-weight: bold;
}

input {

	/*border: 2px solid #B48700;*/
	border: none;
	padding: 4px;
	background-color: #CAE9CA;
	/*font-size   : 120%;*/
	margin:2px;
}

select {
	border: none;
	padding: 4px;
	background-color: #CAE9CA;
	/*font-size   : 120%;*/
	margin:2px;
}

.richButton {
	background-color: #FFBF00;
	color: #009000;
	font-weight: bold;
	/*border: 1px solid #B48700;*/
	font-size   : 120%;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.normalButton
{
	background-color: #7B40C9;
	color: white;
	font-weight: bold;
	/*border: 1px solid #B48700;*/
	font-size   : 120%;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

textarea {
  /*background: url(images/benice.png) center center no-repeat; /* This ruins default border */
  /*border: 1px solid #888; */
	border: none;
	padding: 4px;
	background-color: #CAE9CA;
	font-size   : 120%;
	margin:2px;
}

.formDiv
{
	padding: 10px;
	margin-bottom: 10px;
	/*border: 5px solid #B48700;*/
	border: 5px solid #81AB00;
	/*background-color: #81AB00;*/
	/*font-weight: bold;*/
	border-radius: 20px;
}

.formTitle
{
	color:black;
	font-size: 120%;
	font-weight: bold;
	text-align: center;
}

.carefulDiv
{
	padding: 10px;
	margin-bottom: 10px;
	border: 2px solid black;
	border-radius: 20px;
}

.carefulButton
{
	background-color: black;
	color: white;
	font-weight: bold;
	border: 1px solid red;
	font-size   : 120%;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.aTreadCarefully
{
	font-size: 80%;
	text-decoration: none;
    color: red;
}
.aTreadCarefully a:link {color: red;}
.aTreadCarefully a:visited {color: red;}
.aTreadCarefully a:hover {color: red;}
.aTreadCarefully a:focus {color: red;}
.aTreadCarefully a:active {color: red;}

.head {
	position:relative;
	/*width:100%;*/
	margin-bottom:2px;
	margin-top:0px;
	overflow: hidden;
	background-color: #C6EFFF;
	border-bottom: 2px solid #B48700;
	padding-left: 10px;
	padding-right: 10px;
}

/* stuff on top right corner */
.topLinks
{
	margin-top: 10px;
	font-size: 80%;
	display: none;
}

.topLinks input
{
	font-size: 140%;
	margin: 0;
}

.loginFormH
{
	display: none;
}

.appLinks
{
	font-size: 120%;
	padding: 10px;
	margin-bottom: 2px;
	border-top: 2px solid #B48700;
	border-bottom: 2px solid #B48700;
	background-color: #C6EFFF;
}

.appLinks a:visited
{
	color: #009000;
}

.footer
{
	font-size: 80%;
	padding: 10px;
	margin-top: 10px;
	border-top: 2px solid #B48700;
	border-bottom: 2px solid #B48700;
	/*background-color: #C6EFFF;*/
	background-color: #B48700;
}

.footer a
{
	color: #FFF6DD;
}

.contentDiv
{
	margin:0 auto;
	display:table;
	padding: 10px;
	/*max-width:700px;*/
}

.pageTitle
{
	font-size:150%;
	font-weight:bold;
	display:table;
	margin:20px auto;
	text-align: center;
}

.errors
{
	color: #FF0000;
}

.positiveMessage
{
	text-align: center;
	border:1px solid blue;
	padding:4px;
	background-color:LemonChiffon;
	/*font-weight: bold;*/
	margin-top: 10px;
	font-size: 120%;
}

.filterSection
{
	padding: 10px;
	margin-bottom: 10px;
	border-top: 2px solid #B48700;
	border-bottom: 2px solid #B48700;
	background-color: #e4f7ff;
}

.filterSection a:link
{
	color: #5703C5;
}

.homeLeft
{
	display:inline-block;
	border-bottom: 2px solid #B48700;
	text-align: left;
	padding-bottom: 10px;
	margin-bottom:1px;
}

.homeRight
{
	display:inline-block;
	border-top: 2px solid #B48700;
	text-align: center;
	padding-top: 10px;
	margin-top:1px;
}

/* RESPONSIVE UI. ADJUST FOR LARGER SCREENS */

/* only for Input */
@media (min-width: 450px) {
	input
	{
		font-size: 120%;
	}
}

/* only for Home */
@media (min-width: 810px) {
	/*.homeLoginWelcome
	{
		border-bottom: none;
		padding-bottom: 0px;
		margin-bottom:0px;
		border-right: 2px solid #B48700;
		padding-right: 30px;
		margin-right:30px;
	}*/

	.homeRight
	{
		display:inline-block;
		border-top: 0;
		border-left: 2px solid #B48700;
		margin-top: 0;
		margin-left:1px;
		padding-top: 0;
		padding-left:40px;
	}

	.homeLeft
	{
		display:inline-block;
		vertical-align: top; 
		border-bottom: 0;
		border-right: 2px solid #B48700;
		margin-bottom: 0;
		margin-right:1px;
		padding-bottom: 0;
		padding-right:40px;
	}
}

/* all large */
@media (min-width: 600px) {
	.topLinks
	{
		margin-top:0px;
		position:absolute;
		right:0;
		top:0;
		padding-right: 10px;
		text-align:right;
		width: 60%;
		display: block;
		/*border-left: 1px black solid;*/
	}
	.loginFormH
	{
		float: none;
		display: block;
	}
	/*input
	{
		font-size: 120%;
	}*/
	select
	{
		font-size: 120%;
	}
}

/* medium large */
/*@media (min-width: 600px) and (max-width: 900px) {
	.loginFormH
	{
		float: right;
		width:240px;
	}
}*/

