/* meulib palette 
triad
http://paletton.com/#uid=32P1b0knWFWnWFW4hNpUvEvAfmz
complementary
http://paletton.com/#uid=52P0B0knWFWnWFW4hNpUvEvAfmz
http://paletton.com/#uid=53q0B0kiTZEiTZElyz97w++j0++
nice chutney green color
105 141 45
*/

body
{
	margin:0;
	padding-left: 10px;
	padding-right: 10px;
}

a {
	font-weight: bold;
}

a:link {
    text-decoration: none;
    /*color: SeaGreen;*/
    color: #009000;
}

a:visited {
    text-decoration: none;
    /*color: MediumPurple;*/
    color: #5703C5;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

input {
	/*border: 2px solid #B48700;*/
	border: none;
	padding: 4px;
	background-color: #CAE9CA;
	font-size   : 120%;
	margin:2px;
}

input[type=submit] {
	background-color: #FFBF00;
	font-weight: bold;
}

textarea {
  /*background: url(images/benice.png) center center no-repeat; /* This ruins default border */
  /*border: 1px solid #888; */
	border: none;
	padding: 4px;
	background-color: #CAE9CA;
	font-size   : 120%;
	margin:2px;
}

.head {
	position:relative;
	/*width:100%;*/
	margin-bottom:2px;
	margin-top:0px;
	overflow: hidden;
	background-color: #C6EFFF;
	border-bottom: 2px solid #B48700;
	padding-left: 10px;
	padding-right: 10px;
}

/* stuff on top right corner */
.topLinks
{
	margin-top: 10px;
	font-size: 80%;
}

.topLinks input
{
	font-size: inherit;
	margin: 0;
}

.loginFormH
{
	display: none;
}

.appLinks
{
	font-size: 120%;
	padding: 10px;
	margin-bottom: 10px;
	border-top: 2px solid #B48700;
	border-bottom: 2px solid #B48700;
	background-color: #C6EFFF;
}

.appLinks a:visited
{
	color: #009000;
}

.footer
{
	font-size: 80%;
	padding: 10px;
	margin-top: 10px;
	border-top: 2px solid #B48700;
	border-bottom: 2px solid #B48700;
	/*background-color: #C6EFFF;*/
	background-color: #B48700;
}

.footer a
{
	color: #FFF6DD;
}

.pageTitle
{
	font-size:150%;
	font-weight:bold;
	display:table;
	margin:20px auto;
}

.errors
{
	color: #FF0000;
}

.filterSection
{
	padding: 10px;
	margin-bottom: 10px;
	border-top: 2px solid #B48700;
	border-bottom: 2px solid #B48700;
	background-color: #6DD4FB;
}

.filterSection a:link
{
	color: #5703C5;
}

.formDiv
{
	padding: 10px;
	margin-bottom: 10px;
	border-top: 2px solid #B48700;
	border-bottom: 2px solid #B48700;
	background-color: #81AB00;
}

.formTitle
{
	color:#39097A;
	font-weight: bold;
}

/* RESPONSIVE UI. ADJUST FOR LARGER SCREENS */

/* all large */
@media (min-width: 560px) {
	.topLinks
	{
		margin-top:0px;
		position:absolute;
		right:0;
		top:0;
		padding-right: 10px;
		text-align:right;
		width: 60%;
		/*border-left: 1px black solid;*/
	}
	.loginFormH
	{
		float: none;
		display: block;
	}
}

/* medium large */
@media (min-width: 560px) and (max-width: 900px) {
	.loginFormH
	{
		float: right;
		width:240px;
	}
}

